<article *ngIf="!isLoading" id="comments">
  <div class="comment-controller">
    <label for="mat-mdc-slide-toggle-1">Comments({{ comments.length }})</label>
    <mat-slide-toggle (click)="showComments()"></mat-slide-toggle>
  </div>
  <div class="comments-info">
    <ul class="noBullet">
      <ng-container *ngIf="isShowedComments">
        <app-comments
          *ngFor="let comment of comments"
          [user]="user$ | async"
          [comment]="comment"
          (deleteComment)="deleteComment($event)"
        ></app-comments>
      </ng-container>

      <ng-container *ngIf="user$ | async">
        <li>
          <textarea
            id="content"
            class="inputFields"
            name="content"
            placeholder="..."
            #comment="ngModel"
            type="text"
            name="comment"
            ngModel
            required
            minlength="2"
          ></textarea>
        </li>

        <li id="center-btn">
          <button
            [disabled]="comment.invalid"
            (click)="postComment(comment)"
            id="post-btn"
          >
            Post Comment
          </button>
        </li>
      </ng-container>
    </ul>
  </div>
</article>
