<section id="login-page">
  <div class="boxs">
    <div class="card-image">
      <h2 class="card-heading">Login</h2>
    </div>
    <form class="card-form" (ngSubmit)="onLogin()" [formGroup]="loginGroup">
      <div class="input">
        <input
          type="text"
          class="input-field"
          placeholder="john.doe@gmail.com"
          id="email"
          formControlName="email"
          [ngClass]="{
            'input-error':
              loginGroup.controls['email'].invalid &&
              loginGroup.controls['email'].dirty
          }"
        />
        <label class="email">Email</label>
      </div>
      <div
        *ngIf="
        loginGroup.controls['email'].invalid &&
        loginGroup.controls['email'].touched &&
        !loginGroup.controls['email'].errors?.['required']
      "
        class="alert-error"
      >
        Email should be valid!
      </div>
      <div
        *ngIf="
      loginGroup.controls['email'].errors?.['required'] &&
      loginGroup.controls['email'].touched
"
        class="alert-error"
      >
        Email is required!
      </div>
      <div class="input">
        <input
          type="password"
          class="input-field"
          id="password"
          placeholder="******"
          formControlName="password"
          [ngClass]="{
            'input-error':
              loginGroup.controls['password'].invalid &&
              loginGroup.controls['password'].dirty
          }"
        />
        <label class="password">Password</label>
      </div>
      <div
        *ngIf="
      loginGroup.controls['password'].invalid &&
      loginGroup.controls['password'].touched &&
      !loginGroup.controls['password'].errors?.['required']
    "
        class="alert-error"
      >
        Password should be valid!
      </div>
      <div
        *ngIf="
    loginGroup.controls['password'].errors?.['required'] &&
    loginGroup.controls['password'].touched
"
        class="alert-error"
      >
        Password is required!
      </div>
      <div class="action">
        <button
          class="action-button"
          [disabled]="isLoading || !loginGroup.valid"
        >
          Login
        </button>
      </div>
    </form>
    <div class="card-info">
      <p>Dont have an account? <a href="/user/register">Sign up</a>.</p>
    </div>
  </div>
</section>
