.search {
  position: relative;
  margin-left: 1rem;
}

.search input {
  box-sizing: border-box;
  overflow: hidden;
  width: 25rem;
  height: 2.3rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgba(129, 115, 115, 0.466);
  padding: 0.2rem 0.6rem;
  padding-left: 6.5rem;
  color: #fff;
  font-size: 1rem;
}

.search .select {
  position: absolute;
  left: 0.5rem;
  max-width: 5.5rem;
  font-size: 1rem;
  bottom: 0;
  top: 0;
  border: none;
  background-color: transparent;
  color: var(--clr-secondary);
}

.search .select option {
  background-color: var(--clr-dark-grey);
  border-bottom: 0.3px solid grey;
  padding: 4px 6px;
}

/* .search .select option:hover
 {
    background-color: var(--clr-grey);
} */

.search .search-btn {
  position: absolute;
  right: 0.1rem;
  bottom: 0;
  top: 0;
  border: none;
  background-color: transparent;
}

.search .search-btn i {
  color: var(--clr-secondary);
  font-size: 1rem;
}

@media screen and (max-width: 1680px) {
  .search input {
    width: 23rem;
    height: 2.1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1420px) {
  .search input {
    width: 20rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1280px) {
  .search input {
    width: 16rem;
    height: 1.9rem;
  }
}

@media screen and (max-width: 1150px) {
  .search input {
    width: 14rem;
    height: 1.8rem;
    font-size: 0.8rem;
  }
}
