<section id="register-page">
  <div class="boxs">
    <div class="card-image">
      <h2 class="card-heading">Create your account</h2>
    </div>
    <form
      class="card-form"
      (ngSubmit)="handleRegister()"
      [formGroup]="registerGroup"
    >
      <div class="input">
        <input
          type="text"
          class="input-field"
          placeholder="john.doe@gmail.com"
          id="email"
          formControlName="email"
        />
        <label class="name">Email:</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          placeholder="John"
          id="firstName"
          formControlName="firstName"
        />
        <label class="username">First Name:</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          placeholder="Doe"
          id="lastName"
          formControlName="lastName"
        />
        <label class="username">Last Name:</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          placeholder="01762543843"
          id="phoneNumber"
          formControlName="phoneNumber"
        />
        <label class="username">Phone Number:</label>
      </div>
      <div class="input">
        <input
          type="password"
          class="input-field"
          placeholder="******"
          id="password"
          formControlName="password"
        />
        <label class="password">Password</label>
      </div>
      <div class="input">
        <input
          type="password"
          class="input-field"
          placeholder="******"
          id="re-password"
          formControlName="repass"
        />
        <label class="re-password">Repeat Password</label>
      </div>
      <div class="action">
        <button
          class="action-button"
          [disabled]="isLoading || !registerGroup.valid"
        >
          Sign Up
        </button>
      </div>
    </form>

    <div class="card-info">
      <p>Already have an account?<a href="/user/login"> Sign in</a></p>
    </div>
  </div>
</section>
