<section
  (click)="outsideClickHandler($event)"
  [ngClass]="{
    active: contactModal === true,
    inactive: contactModal === false
  }"
  class="modal"
>
  <div class="modal-content">
    <span (click)="closeContactModal()" class="close">&times;</span>
    <h2 class="title">Contact:</h2>
    <div class="content">
      <div class="company">UN/REAL ESTATES NÜRNBERG</div>
      <div class="agent-name">Hristo Petrov</div>
      <div class="agent">Broker</div>
      <div class="email">unreal_estates@gmail.com</div>
      <div class="address">
        <mat-icon id="location"> location_on</mat-icon>
        <p class="address-data">Worzeldorferstr. 80</p>
      </div>
      <p class="address-data">90469, Nürnberg</p>
      <div class="mobile">01727933157</div>
    </div>
    <div class="action-btns">
      <button (click)="closeContactModal()" class="btn">Close</button>
    </div>
  </div>
</section>
