.modal {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out scale 0.6 ease-in-out;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  width: 37.5rem;
  scale: 0;
  transition: all 0.8s ease-in-out;
  margin: 15% auto;
  text-align: center;
}

.modal.inactive .modal-content {
  scale: 0;
  opacity: 0;
}

.modal.active .modal-content {
  scale: 1;
  opacity: 1;
}

.modal-content .title {
  margin-bottom: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.agent-name {
  margin: 0 0 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75;
}

.address {
  display: flex;
  justify-content: center;
}

.address,
.agent,
.address-data {
  font-weight: 300;
  line-height: 1.75;
  font-size: 1rem;
  color: #626366;
}

.address-data {
  margin: 0px;
}

.mobile {
  color: #1a3668;
}

#location {
  color: #b22b2e;
}

.close-btn {
  display: flex;
  align-items: center;
  background-color: rgba(86, 124, 194, 0.911);
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0.6rem;
  border: 10px solid white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.close-btn:hover {
  background-color: rgba(65, 92, 143, 0.911);
}

.close {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(86, 124, 194, 0.911);
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0.6rem;
  transition: all 0.5s ease-in-out;
}

.close:hover,
.close:focus {
  color: rgba(65, 92, 143, 0.911);
  text-decoration: none;
  cursor: pointer;
}

.action-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.action-btns button:nth-child(1) {
  background-color: rgba(86, 124, 194, 0.911);
  border-color: rgba(86, 124, 194, 0.911);
  cursor: pointer;
}

.action-btns button:nth-child(1):hover {
  background-color: rgba(65, 92, 143, 0.911);
  border-color: rgba(65, 92, 143, 0.911);
  scale: 1;

  cursor: pointer;
}

.title {
  font-size: 1.5rem;
}

@media screen and (max-width: 750px) {
  .modal-content {
    width: 34rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .modal-content {
    width: 32rem;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 530px) {
  .modal-content {
    width: 29rem;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 25rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 410px) {
  .modal-content {
    width: 22rem;
  }
}
