.slideshow {
  position: relative;
}

.mainImg {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 430px;
}

.actions {
  position: absolute;
  top: 35%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions button {
  background-color: initial;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
}

.actions button:active {
  background-color: initial;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 15px;
  padding-top: 5px;
}
