.modal {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s ease-in-out scale 0.6 ease-in-out;
}

.active {
  visibility: visible;
}

.inactive {
  visibility: hidden;
}

.modal-content {
  background-color: rgb(105, 105, 105);
  padding: 2rem;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 0.6rem;
  width: 37.5rem;
  scale: 0;
  transition: all 0.8s ease-in-out;
  margin: 15% auto;
  text-align: center;
  color: #fff;
}

.modal.inactive .modal-content {
  scale: 0;
  opacity: 0;
}

.modal.active .modal-content {
  scale: 1;
  opacity: 1;
}

.modal-content .title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.close {
  font-size: 2rem;
  font-weight: bold;
  color: lightgrey;
  border-radius: 10px;
  position: absolute;
  top: 0.5rem;
  right: 0.6rem;
  transition: all 0.5s ease-in-out;
}

.close:hover,
.close:focus {
  scale: 1.2;
  color: rgb(199, 136, 109);
  text-decoration: none;
  cursor: pointer;
}

.action-btns {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.red-btn {
  background-color: rgb(199, 136, 109);
  border-color: rgb(199, 136, 109);
  cursor: pointer;
}

.grey-btn {
  background-color: rgb(105, 105, 105);
  border-color: rgb(105, 105, 105);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .modal-content {
    width: 34rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 590px) {
  .modal-content {
    width: 32rem;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 530px) {
  .modal-content {
    width: 29rem;
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 25rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 410px) {
  .modal-content {
    width: 22rem;
  }
}
