<section id="top-houses">
  <h1>My Offers</h1>
  <div *ngIf="favorites; else loader">
    <div *ngIf="favorites.length > 0" class="houses">
      <app-estate-card
        *ngFor="let favorite of favorites"
        class="estate-card"
        [estate]="favorite"
      ></app-estate-card>
    </div>

    <div *ngIf="favorites.length === 0" class="no-data-container">
      <p class="no-data">There are no favorites offers found...</p>
    </div>
  </div>
</section>

<app-scroll-to-top-btn> </app-scroll-to-top-btn>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
