<section id="details-page">
  <div *ngIf="!!estate; else loader" class="wrapper">
    <div class="product-controller">
      <div class="product-img">
        <app-slider [imgs]="imgs"> </app-slider>
        <!-- <img src="{{ estate.imgUrl }}" /> -->
      </div>
      <div class="product-control">
        <button class="close-btn" (click)="navigateBack()">
          <mat-icon>close</mat-icon>
        </button>
        <div class="product-text">
          <h1 [ngStyle]="{ 'margin-bottom': '3rem' }">
            {{ estate.type }} {{ estate.name }}
          </h1>
          <h4>
            Price: <span class="price">{{ estate.price | currency }}</span>
          </h4>
          <h4>
            Location: <span class="location">{{ estate.location }}</span>
          </h4>
          <h4>
            Rooms: <span class="year">{{ estate.rooms }}</span>
          </h4>
          <h4>
            Living Area:
            <span class="year"
              >{{ estate.area }} <span class="area-m">m</span><sup>2</sup></span
            >
          </h4>
          <h4>
            Year: <span class="year">{{ estate.constructionYear }}</span>
          </h4>
        </div>
        <div class="product-btn">
          <ng-container *ngIf="isOfferOwner">
            <a routerLink="/estates/{{ estateId }}/edit" class="edit">Edit</a>
            <button (click)="openDeleteModal()" class="remove">Delete</button>
          </ng-container>
          <button
            *ngIf="!isOfferOwner"
            class="rentHome"
            (click)="openContactModal()"
          >
            Contact the owner
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="energy-pass">
      <app-energy-pass></app-energy-pass>
    </div> -->
    <div class="product-info">
      <div class="product-text">
        <h1>Description</h1>
        <div>
          <p *ngIf="!isShow">
            {{ estate.description | shorten }}
          </p>
          <p *ngIf="isShow">
            {{ estate.description }}
          </p>
          <button
            *ngIf="estate.description.length > 250"
            (click)="showHandler($event)"
            mat-button
            color="primary"
          >
            Show More
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-comment-form
    [estateId]="estateId"
    (estateComments)="setEstateComments($event)"
  ></app-comment-form>
</section>
<app-contact-modal [(contactModal)]="contactModal"> </app-contact-modal>
<app-delete-modal
  *ngIf="!!estate"
  [(deleteModal)]="deleteModal"
  [estateId]="estateId"
  [estateComments]="estateComments"
></app-delete-modal>

<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
