<nav [ngClass]="{ 'header-inactive': showHeader === false }">
  <a routerLink="/home">Home</a>
  <app-search> </app-search>
  <ul>
    <!-- Guest users and Logged users -->
    <li><a routerLink="/estates/catalog-for-sell">For sell</a></li>
    <!-- <li><a routerLink="/about-us">About us</a></li> -->
    <!-- Guest users -->
    <ng-container *ngIf="!(isLoggedIn$ | async)">
      <li><a routerLink="user/login">Login</a></li>
      <li><a routerLink="user/register">Register</a></li>
    </ng-container>
    <!-- Logged users -->
    <ng-container *ngIf="isLoggedIn$ | async">
      <li><a routerLink="estates/create">Create offer</a></li>
      <li><a (click)="onLogout()" href="javascript:void(0)">Logout</a></li>
      <!-- <li *ngIf="user$ | async as user">
        <a routerLink="#">Hi, {{ user.email }}</a>
      </li> -->
    </ng-container>
  </ul>
</nav>
