<app-delete-modal
  [(deleteModal)]="deleteModal"
  [commentId]="comment.id"
></app-delete-modal>
<li>
  <div class="owner-info">
    <span class="owner">{{ comment.ownerEmail }}</span>
  </div>
  <div class="comment-content">
    <div class="comment">
      <p *ngIf="!isEdited">
        {{ comment.content }}
      </p>
      <ng-container *ngIf="isOwner && isEdited">
        <form [formGroup]="commentGroup">
          <textarea
            type="text"
            name="comment"
            id="comment"
            placeholder="Comment...."
            required
            formControlName="newComment"
            [cdkTrapFocusAutoCapture]="isEdited"
            [cdkTrapFocus]="isEdited"
          ></textarea>
        </form>
      </ng-container>
      <div class="right-side">
        <div className="header-right">
          <span>Likes: {{ comment.likes?.length }}</span>
          <span>Dislikes: {{ comment.dislikes?.length }}</span>
        </div>
        <ng-container *ngIf="currentUserId && !isOwner">
          <ng-container *ngIf="!hasLiked && !hasDisliked">
            <button (click)="sendReaction('like')" class="delete-btn">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button (click)="sendReaction('dislike')" class="edit-btn">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="hasLiked">
            <button (click)="removeReaction('like')" class="delete-btn">
              <mat-icon>thumb_up</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="hasDisliked">
            <button (click)="removeReaction('dislike')" class="edit-btn">
              <mat-icon>thumb_down</mat-icon>
            </button>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="currentUserId && isOwner && !isEdited">
          <button (click)="openDeleteModal()" class="delete-btn">
            <mat-icon>delete</mat-icon>
          </button>
          <button (click)="setEditingMode()" class="edit-btn">
            <mat-icon>edit</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="currentUserId && isOwner && isEdited">
          <button (click)="cancelEditingMode()" class="delete-btn">
            Cancel
          </button>
          <button (click)="editHandler()" class="edit-btn">Post</button>
        </ng-container>
        <span class="timestamp">{{ timeAgo }}</span>
      </div>
    </div>
  </div>
</li>
