<li>
  <div class="owner-info">
    <span class="owner">{{ comment.ownerEmail }}</span>
  </div>
  <div class="comment-content">
    <div class="comment">
      <p>
        {{ comment.content }}
      </p>
      <div class="right-side">
        <ng-container *ngIf="currentUserId && isOwner">
          <button (click)="deleteHandler()" class="delete-btn">Delete</button>
        </ng-container>
        <span class="timestamp">{{
          comment.createdAt | dateTransform | date : "medium"
        }}</span>
      </div>
    </div>
  </div>
</li>
