<section id="edit-page">
  <div class="edit-container">
    <div class="box-image"></div>
    <h2 class="box-heading">Edit Offer</h2>

    <form
      *ngIf="!isLoading"
      class="form"
      (ngSubmit)="editHandler()"
      [formGroup]="editEstateGroup"
    >
      <div class="input">
        <input
          formControlName="name"
          type="text"
          class="input-field"
          id="name"
          name="name"
          [ngClass]="{
            'input-error': showErrorInControl('name', editEstateGroup)
          }"
          [value]="oldEstate.name"
        />
        <label for="" class="home-name">Name:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('name', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['name'].errors?.['required']"
          class="alert-error"
        >
          Name is required!
        </p>
        <p
          *ngIf="editEstateGroup.controls['name'].errors?.['minlength']"
          class="alert-error"
        >
          Name must be at least 2 characters long!
        </p>
      </ng-container>

      <div class="input">
        <select
          name="type"
          id="type"
          class="input-field"
          (change)="changeEstateType($event)"
          formControlName="type"
          [ngClass]="{
            'input-error': showErrorInControl('type', editEstateGroup)
          }"
        >
          <option *ngFor="let estateType of estateTypes" [ngValue]="estateType">
            {{ estateType }}
          </option>
        </select>
        <label for="type" class="type">Property Type:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('name', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['type'].errors?.['required']"
          class="alert-error"
        >
          Name is required!
        </p>
      </ng-container>
      <div class="input">
        <input
          type="number"
          class="input-field"
          id="year"
          name="year"
          formControlName="year"
          [ngClass]="{
            'input-error': showErrorInControl('year', editEstateGroup)
          }"
          [value]="oldEstate.constructionYear"
        />
        <label for="year" class="year">Year Built:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('year', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['year'].errors?.['required']"
          class="alert-error"
        >
          Year is required!
        </p>
        <p
          *ngIf="editEstateGroup.controls['year'].errors?.['max']"
          class="alert-error"
        >
          year must be max {{ currentYear }}
        </p>
        <p
          *ngIf="editEstateGroup.controls['year'].errors?.['min']"
          class="alert-error"
        >
          year must be min 1900
        </p>
      </ng-container>

      <div class="input">
        <input
          type="text"
          class="input-field"
          id="location"
          name="location"
          [value]="oldEstate.location"
          [ngClass]="{
            'input-error': showErrorInControl('location', editEstateGroup)
          }"
          formControlName="location"
        />
        <label for="location" class="city">Location:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('location', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['location'].errors?.['required']"
          class="alert-error"
        >
          Location is required!
        </p>
        <p
          *ngIf="editEstateGroup.controls['location'].errors?.['minlength']"
          class="alert-error"
        >
          Location must be at least 2 characters long!
        </p>
      </ng-container>

      <div formArrayName="imgUrls" style="margin-top: 0.5rem">
        <label for="imgUrl" class="homeImage">Image Urls:</label>

        <div
          *ngFor="let imgUrlInput of getImgUrl?.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="input-wrapper">
            <input
              type="text"
              class="input-field img-urls"
              id="imgUrl"
              name="imgUrl"
              [ngClass]="{
                'input-error':
                  getImgUrlsControl(i).invalid && getImgUrlsControl(i).touched
              }"
              formControlName="imgUrl"
            />
            <span class="main-img-span" *ngIf="i === 0">(Main Img)</span>
            <button
              (click)="removeImgUrl(i)"
              class="btn btn-danger"
              [ngStyle]="{ color: 'red', 'border-color': 'red' }"
              style="color: red"
            >
              remove
            </button>
          </div>

          <ng-container
            *ngIf="getImgUrlsControl(i).touched && getImgUrlsControl(i).invalid"
            class="alert-error"
          >
            <p class="alert-error">Img url is required!</p>
          </ng-container>
          <div *ngIf="getImgUrlsControl(i).value" class="img-wrapper">
            <img
              class="img"
              src="{{ getImgUrlsControl(i).value }}"
              alt="img{{ i + 1 }}"
            />
          </div>
          <!-- Item name:
          {{ getImgUrlsControl(i) | json }} -->
        </div>
        <button
          type="button"
          (click)="addImgUrl()"
          class="btn btn-danger"
          [ngStyle]="{ color: 'black', 'margin-top': '0.5rem' }"
        >
          Add new imgUrl
        </button>
      </div>
      <ng-container
        *ngIf="getImgUrl.touched && getImgUrl.invalid"
        class="alert-error"
      >
        <p class="alert-error">*All Image Urls are required!</p>
      </ng-container>

      <div class="input">
        <input
          type="text"
          class="input-field"
          id="price"
          name="price"
          [value]="oldEstate.price"
          [ngClass]="{
            'input-error': showErrorInControl('price', editEstateGroup)
          }"
          formControlName="price"
        />
        <label for="price" class="availablePieces">Price:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('price', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['price'].errors?.['required']"
          class="alert-error"
        >
          Price is required!
        </p>
      </ng-container>
      <p>*Price is in US dollar</p>
      <div class="input">
        <input
          type="text"
          class="input-field"
          id="description"
          name="description"
          [ngClass]="{
            'input-error': showErrorInControl('description', editEstateGroup)
          }"
          [value]="oldEstate.description"
          formControlName="description"
        />
        <label class="description">Description:</label>
      </div>
      <ng-container
        *ngIf="showErrorInControl('description', editEstateGroup)"
        class="alert-error"
      >
        <p
          *ngIf="editEstateGroup.controls['description'].errors?.['required']"
          class="alert-error"
        >
          Description is required!
        </p>
        <p
          *ngIf="editEstateGroup.controls['description'].errors?.['minlength']"
          class="alert-error"
        >
          Description must be at least 2 characters long!
        </p>
      </ng-container>
      <p>
        *For taking Img Url of your images you can upload them in
        https://postimages.org/ and take the Img Url
      </p>
      <div class="create-action">
        <button
          [disabled]="isLoading || !editEstateGroup.valid"
          class="create-button"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</section>
