<section id="edit-page">
  <div class="edit-container">
    <div class="box-image"></div>
    <h2 class="box-heading">Edit Home</h2>

    <form
      *ngIf="!isLoading"
      class="form"
      (ngSubmit)="editHandler()"
      [formGroup]="editEstateGroup"
    >
      <div class="input">
        <input
          formControlName="name"
          type="text"
          class="input-field"
          id="name"
          name="name"
          [value]="oldEstate.name"
        />
        <label for="" class="home-name">Name:</label>
      </div>
      <div class="input">
        <select
          name="type"
          id="type"
          class="input-field"
          (change)="changeEstateType($event)"
          formControlName="type"
        >
          <option *ngFor="let estateType of estateTypes" [ngValue]="estateType">
            {{ estateType }}
          </option>
        </select>
        <label for="type" class="type">Property Type:</label>
      </div>
      <div class="input">
        <input
          type="number"
          class="input-field"
          id="year"
          name="year"
          formControlName="year"
          [value]="oldEstate.constructionYear"
        />
        <label for="year" class="year">Year Built:</label>
      </div>
      <div class="input">
        <input
          type="text"
          class="input-field"
          id="location"
          name="location"
          [value]="oldEstate.location"
          formControlName="location"
        />
        <label for="location" class="city">Location:</label>
      </div>

      <div class="input">
        <input
          type="text"
          class="input-field"
          id="imgUrl"
          name="imgUrl"
          [value]="oldEstate.imgUrl"
          formControlName="imgUrl"
        />
        <label for="imgUrl" class="homeImage">Image Url:</label>
      </div>

      <div class="input">
        <input
          type="number"
          class="input-field"
          id="price"
          name="price"
          [value]="oldEstate.price"
          formControlName="price"
        />
        <label for="price" class="availablePieces">Price:</label>
      </div>

      <div class="input">
        <input
          type="text"
          class="input-field"
          id="description"
          name="description"
          [value]="oldEstate.description"
        />
        <label class="description">Property Description:</label>
      </div>

      <div class="create-action">
        <button [disabled]="isLoading" class="create-button">Edit</button>
      </div>
    </form>
  </div>
</section>
