<section
  (click)="outsideClickHandler($event)"
  class="modal"
  [ngClass]="{
    active: searchPanel === true,
    inactive: searchPanel === false
  }"
>
  <div class="panel-content">
    <div class="header">
      <h2 class="title">Search results</h2>
      <span (click)="closeSearchPanel()" class="close">&times;</span>
    </div>
    <div *ngIf="searchedEstates; else loader" class="results">
      <ul *ngIf="searchedEstates.length > 0" class="result-list active">
        <a
          *ngFor="let searchedEstate of searchedEstates"
          routerLink="estates/{{ searchedEstate.id }}/details"
          (click)="closeSearchPanel()"
          class="link"
        >
          <li class="result-item">
            <div class="img-container">
              <img
                src="{{ searchedEstate.imgUrls[0].imgUrl }}"
                alt="movie"
                class="img"
              />
            </div>
            <div class="content">
              <div class="show-data">
                <p class="title">
                  {{ searchedEstate.name }}
                </p>
                <p class="year">
                  <!-- {parsers.yearParser(x.fields.year)} -->
                </p>
              </div>
              <!-- <div class="rating">
              <i class="fa-solid fa-star"></i>
              {x.fields.rating.ratingPoints === 0 ?
                  <p>No rating yet</p>
                  : <p>{x.fields.rating.ratingPoints} / 10</p>
              }
          </div> -->
            </div>
          </li>
        </a>
      </ul>
      <p *ngIf="searchedEstates.length === 0" class="no-results">
        No matches found...
      </p>
    </div>
  </div>
</section>
<ng-template #loader>
  <app-spinner></app-spinner>
</ng-template>
